@import "../../bower_components/bootstrap/scss/functions";
@import "variables";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "../../bower_components/fontawesome/web-fonts-with-css/scss/fontawesome";
@import "../../bower_components/fontawesome/web-fonts-with-css/scss/fa-regular";
@import "../../bower_components/fontawesome/web-fonts-with-css/scss/fa-solid";

// bower:scss
// endbower

h1,h2,h3,h4,h5{
  text-transform: uppercase;
  font-weight: bold;
}
h3{
  font-size: 20px;
}

a,.btn{
  transition: all 0.3s ease-out;
}

.btn{
  border-radius: $form-element-border-radius;
  box-shadow: none;
  padding: 0.3rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-dark {
  color: #7d8187;
  background-color: #ced4da;
  border-color: #ced4da;
  &:hover{
    background-color: darken(#ced4da,10%);
    border-color: darken(#ced4da,10%);
    color: darken(#7d8187,10%);
  }
}
.btn-sm{
  padding: 3px 15px 2px;
  font-size: 80%;
  border-radius: $form-element-sm-border-radius;
}

.form-control {
  box-shadow: none;
  border-width: 2px;
  padding: 0.5rem 0.75rem;
  border-radius: $form-element-border-radius;
  height: calc(2.0625rem + 8px) !important;

}
.input-group{
  .input-group-text{
    border-width: 2px;
    margin-left: -2px;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    padding-right: 1rem;
    background-color: #ced4da;
    color: #FFF;
  }
}
.control-label{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 2px;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body:not(.login){
  padding-top: 80px;
}

.navbar{
  box-shadow: 0 2px 20px transparentize($shadow-color,0.8);
  background-color: #FFF;
  border-top: 3px solid $secondary;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  .notification.nav-link i{
    font-size: 20px;
  }
  .notification-label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: $danger;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 12px;
    top: -5px;
  }
  .navbar-brand{
    width: 110px;
    margin-right: 50px;
    img{
      width: 100%;
    }
  }
  .navbar-nav{
    padding: 10px 0;
    .nav-link{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $font-family-heading;
      color: #9199ab;
    }
    .active{
      .nav-link{
        color: $secondary;
      }
    }
  }
  .form-inline{
    .form-control{
      border-radius: 30px;
      border: 2px solid #e6eaef;
      box-shadow: none;
      color: $gray-400;
      font-size: 12px;
    }
    .submit-btn{
      margin-left: -45px;
      color: $gray-500;
      background: transparent;
      border: none;
    }
    @media (max-width:  map-get($grid-breakpoints, "lg") ) {
      display: none;
    }
  }
}

.user-profile-menu_wrapper{
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #e6eaef;

  .user-name{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: $font-family-heading;
    color: #9199ab;
    font-size: 12px;
    vertical-align: middle;
    display: block;
    line-height: 30px;
  }
  .user-image{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  .dropdown-toggle::after{
    margin-left: 0;
  }
}


.banner{
  min-height: 350px;
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  .container{
    padding-top: 100px;
  }
  .title{
    text-transform: uppercase;
    color: $secondary;
    font-size: 30px;
    font-weight: bold;
  }
}


//----------------------------------
// Card wrapper
.card{
  border: none;
  //box-shadow: 0 3px 20px rgba(145,153,171,0.3);
  border-radius: 0.6rem;
  overflow: hidden;
  margin-bottom: 40px;
  &.with-dash:before{
    content: '';
    display: block;
    margin-left: 20px;
    margin-top: -4px;
    width: 40px;
    height: 8px;
    border-radius: 4px;
    background-color: $card-dash-bg-color;
  }
  .card-body{
    padding: 2rem;
  }
  .card-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $card-title-color;
  }
  .card-description{
    margin-bottom: 30px;
  }

  .card-sidebar{

    background: #f6f7f8;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    //@media (max-width: $grid-breakpoints('lg')){
    //  border-right: 1px solid $border-color;
    //  padding-right: 20px;
    //}
  }

  .show-all{
    background-color: #9199ab;
    display: block;
    text-align: center;
    color: #FFF;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
}


.card-alias{
  background-color: $card-alias-bg-color;
  color: $card-alias-text-color;
  border-right: 8px solid $card-alias-border-right-color;
  background-repeat: no-repeat;
  background-position:  calc(100% - 20px) center;
  margin-bottom: 20px;
  &:hover{
    text-decoration: none;
    box-shadow: none;
    background-color: darken($card-alias-bg-color,10%);
  }
  .card-body{
    padding: 25px 30px;
  }
  .title{
    color: $card-alias-title-color;
  }
  .description{
    margin: 0;
    color: $card-alias-text-color;
    max-width: 200px;
  }
}

.main-content{
  margin-top: 50px;
}
.table{
  th{
    border-top: none;
    color: $secondary;
    text-transform: uppercase;
  }
  .price{
    font-weight: bold;
  }
  .highlighted{
    font-weight: bold;
  }
}
.footable {
  span.footable-toggle {
    opacity: 1;
    border-radius: 50%;
    color: $tertiary;
    text-align: center;
    line-height: 20px;
    display: block;
    float: left;
    margin-right: 8px;
    font-family: 'FontAwesome' !important;
    font-size: 14px;
    &::before {
      display: inline-block;
    }
    &.fooicon-plus::before {
      content: '\f054' !important;
    }
    &.fooicon-minus::before {
      content: '\f078' !important;
    }
  }
}

//----------------------------------
// GED Document List
$document-item-title-color : $secondary;
.document-list{
  margin-top: 20px;
}
.document-item{
  display: inline-block;
  margin-bottom: 15px;
  .document-icon{
    width: 50px;
    display: inline-block;
    font-size: 70px;
    float: left;
    line-height: 40px;
    color: #bec5d7;
  }
  &:hover .document-icon{
    color: darken(#9199ab, 10%);
  }
  .document-info{
    display: inline-block;
    float: right;
    width: calc(100% - 70px);
    font-size: 11px;
    .document-title{
      font-size: 14px;
      color: $document-item-title-color;
      font-weight: bold;
    }
    .document-meta{
      color: #9199ab;
    }
    .document-description{
      color: #bec5d7;
      max-width: 250px;
      line-height: 12px;
      margin-top: 5px;
    }
  }
  &.new{
    position: relative;
    //border: 2px solid #bec5d7;
    border-radius: 10px;
    &:before{
      content: '';
      width: 15px;
      height: 15px;
      border: 3px solid #FFF;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      background: $blue;
      position: absolute;
      top: -4px;
      left: -4px;
    }
    .document-icon{
      color: #9199ab;
    }
    .document-description,
    .document-meta {
      font-weight: bold;
      color: #9199ab
    }
  }
}


.filter-form{
  margin: 50px 0;
  padding: 30px 0 20px;
}

.toggle-form{
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background-color: transparentize($border-color,0.4);
  color: $secondary;
  margin-bottom: 20px;
  border-radius: 0 0 30px 30px;
  box-shadow: none !important;
  &.collapsed{
    border-radius: 30px;
  }
}
.advanced-serach-from{

}
.advanced-serach-from{
  background-color: transparentize($border-color,0.4);
  border-radius: 10px 10px 0 0;
}



//----------------------------------
// Footer
footer{
  padding-top: 60px;
  padding-bottom: 20px;
  background: #495058;
  color: #8d9baa;
  font-size: 11px;
  .links{
    .title{
      font-size: 14px;
      margin-bottom: 20px;
    }
    a{
      color: inherit;
      text-transform: uppercase;
      margin-bottom: 8px;
      display: inline-block;
    }
  }
}
.copyright{
  background-color: #32373d;
  color: #5c656f;
  padding: 15px;
  font-size: 12px;
}



/*---------------------------------------------
  Dropdown Menu styling
*/

.dropdown-menu{
  border: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-radius: 0.6rem;
  padding: 0;
  overflow: hidden;
  a{
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: $body-color;
    padding: 10px 20px;
    &:hover{
      background-color: $primary;
      color: #FFF;
    }
  }
}

/*---------------------------------------------
  Login page
*/

.login-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #d8dde2;
}

.wrap-card {
  width: 960px;
  overflow: hidden;
  padding: 80px 80px 0;
  .title{
    color: $secondary;
    margin-bottom: 10px;
  }
  .image{
    max-width: 250px;
  }
  /*---------------------------------------------*/
  .input-wrapper{
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .form-control {
    font-size: 15px;
    line-height: 1.5;
    background: #fdfdfd;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    border-width: 2px;
    box-shadow: none;
  }


  .symbol-input {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: $body-color;
    transition: all 0.4s;
  }

  .form-control:focus + .symbol-input {
    color: $secondary;
    padding-left: 28px;
  }

  .btn-submit{
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    height: 50px;
    border-radius: 25px;
  }
  .login-footer{
    font-size: 12px;
    a{color: #999}
  }
}


//.pagination
//----------------
.pagination{
  margin-top: 30px;
  .page-item .page-link{
    border-color: transparent;
    border-radius: 50px;
    margin: 0 3px;
    &:hover{
      background-color: $secondary;
      color: #FFF;
    }
  }
  .page-item:first-child .page-link,
  .page-item:last-child .page-link
  {
    border-radius: 50px;
    border-color: $border-color;
    margin: 0 20px;
  }
}









.user-profile-widget{
  .user-image{
    float: none;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .user-name{
    font-size: 18px;
    color: $primary;
  }
}

.user-profile-links{
  //border-top: 1px solid $border-color;
  border-radius: $border-radius;
  //padding-top: 20px;
  .nav-item{
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: 1px solid $border-color;
  }

  .nav-link{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $gray-600;
    border-radius: $border-radius;
    padding: 0.5rem;

    .fas{
      margin-right: 5px;
      width: 25px;
      height: 25px;
      border: 1px solid $secondary;
      border-radius: 50%;
      display: inline-block;
      color: $gray-500;
      text-align: center;
      line-height: 23px;
      background-color: #FFF;
    }
    &:hover{
      background-color: $secondary;
      color: #FFF !important;
    }
  }
  .active{
    .nav-link{
      color: $secondary;
      .fas{
        background-color: $secondary;
        color: #FFF;
      }
    }
  }
}


.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}
.user-profile-links{

}



//----------------------
// Page Contrat
.insurance-contract-info{
  margin-bottom: 30px;
  .label{
    color: $gray-500;
  }
}
.insurance-name{
  padding: 20px 0;
  @media (max-width: map-get($grid-breakpoints, "lg") ) {
    margin-bottom: 20px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: -20%;
    @media (min-width: map-get($grid-breakpoints, "lg") ){
      left: -40%;
      transform: skewX(10deg);
    }
    background-color: $secondary;
    width: 140%;
    height: 100%;
  }
  .contract-info-item{
    position: relative;
    color: #FFF;
  }
  .label{
    color: rgba(255,255,255,0.5);
    display: block;
  }
}